
<% if @list.photo.attached? == false %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://upload.wikimedia.org/wikipedia/commons/0/02/35mm_movie_negative.jpg')">
      <%= @list.name %>
  </div>
<% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 400, width: 800, crop: :fill %>')">
      <%= @list.name %>
  </div>
<% end %>




<div class="container">
  <% @list.bookmarks.each do |bookmark| %>
    <br>
    <h4><%= bookmark.movie.title %></h4>
    <br>

    <p><img src="<%= bookmark.movie.poster_url%>" width="200" height="300" alt=""></p>
    <p>Commentaire: "<%= bookmark.comment%>"</p>

    <p><%= link_to "delete movie", bookmark_path(bookmark), class:"btn btn-flat", method: :delete %>

  <% end %>
  <br>
  <br>
  <p><%= link_to "add a movie", new_list_bookmark_path(@list.id), class: "btn btn-flat"  %></p>

  <p><%= link_to "< go back to main page", root_path %></p>
</div>
